*{
    padding: 0px;
    margin: 10px;
}
header{
    background-color: rgb(65, 225, 126);
    height: 10%;
}
.navlist{
    display: inline-block;
}
body{
    background-color: slateblue;
    font-family: 'Press Start 2P', cursive;
    
}
.heading{
    color: yellowgreen;
    font-size: 5vh;
}
ul{
    background-color: yellowgreen;
    padding: 5vh;
}

a{
    color:tomato
}