#gitlogo, #instalogo,#itchlogo,#twitterlogo{
    height:50px;
    margin:0px 10px 0px;
}
    

h2{
    color:rgba(43, 108, 170, 0.842);
}
body{
    background-color: rgb(250, 194, 157);
}

.helloworld{
    font-family: 'Press Start 2P', cursive;
    font-size: 49px;
    color:#004badc4;
}

.name{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color:#004badc4;
}
.intro{
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    color:#004badc4;
}

span{
    height: 1000px;
    width: 1000px;
    text-size-adjust: none auto 100%;
}

body{
    height:200vh;
    background-size: contain;   
    background-repeat: no-repeat;
    background-color: rgb(255, 229, 145);
    background-image: url("breeze.png");
    text-align: center;
    line-height: 74px;
    font-family: 'Press Start 2P', cursive;

}
.heading{
    background-color: rgb(255, 180, 81);
    color: rgb(18, 118, 233);
    font-size: 5vh;
}
.homecontainer{
    line-height: 110px;
}
.container{
    background-color: coral;
    padding: 12px;
    text-align: left;
    margin:0px ;
    padding: 10px;
    list-style: inside;
    line-height: 50px;
}
.heading{
    margin-top: 100px;
}


.insidelist{
    padding-left: 3vw;
    list-style: square;
    text-decoration: none;
    background-color: aquamarine;
}
.navlist{
    text-align: center;
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}
.navlinks{
    color: rgb(255, 71, 65);
    font-family:  'Press Start 2P', cursive;
    font-size: 2rem;
}
span{
    text-decoration: underline;
}
*{
    margin: 0px;
    padding:0px;
    
}
main{
    margin-top: 100px;
}
footer{
    font-size:smaller;
}
::selection{
    background-color: rgb(222, 88, 255);
    color: rgb(40, 40, 255);

}


