#gitlogo, #instalogo,#itchlogo,#twitterlogo{
    height:50px;
    margin:0px 10px 0px;
}
    

h2{
    color:rgba(43, 108, 170, 0.842);
}
body{
    background-color: rgb(250, 194, 157);
}

.helloworld{
    font-family: 'Press Start 2P', cursive;
    font-size: 49px;
    color:#004badc4;
}

.name{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color:#004badc4;
}
.intro{
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    color:#004badc4;
}
header{
    margin-top: 50px;
}
span{
    height: 1000px;
    width: 1000px;
    text-size-adjust: none auto 100%;
}

body{
    height:200vh;
    background-size: contain;   
    background-repeat: no-repeat;
    background-color: rgb(255, 229, 145);
    background-image: url("breeze.png");
    text-align: center;
    line-height: 74px;

}
*{
    margin: 0px;
    padding:0px;
    
}

::selection{
    background-color: aquamarine;
    color: rgb(40, 40, 255);

}

